@import "reset";
@import "variable";
@import "./main/mainSub";
@import "./main/mainHome";
@import "./main/mainUser.scss";
@import "./header/headerSearch";
@import "./header/headerUsers";

body {
  height: 8000px;
  background-color: $fb_bg;
  a {
    text-decoration: none;
    .fa-kickstarter {
      color: white;
      font-size: 27px;
    }
  }
}
.miniAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header {
  position: sticky;
  top: 0;
  background-color: $fb_blue;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
