@import "reset";
@import "variable";
@import "./main/mainSub";
@import "./main/mainHome";
@import "./chat/chatUser";
@import "./chatRoom";
@import "./header/headerSearch";
@import "./header/headerUsers";
@import "./search/searchFilter";
@import "./search/searchResult";
body {
  height: 8000px;
  background-color: $fb_bg;
  a {
    text-decoration: none;
  }
}
input:focus {
  outline: none;
}
.miniAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $fb_bg;
}
.miniAvatar2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
  border: 1px solid $fb_bg;
}
.miniAvatar3 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.main {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header {
  position: sticky;
  top: 0;
  background-color: $fb_blue;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  a:visited {
    color: $fb_white;
  }
}
