@import "reset";
@import "variable";
body {
  height: 2000px;
  background-color: $fb_bg;
  a {
    text-decoration: none;
    .fa-kickstarter {
      color: white;
      font-size: 27px;
    }
  }
}
.main {
  display: flex;
  justify-content: center;
  height: 100%;
  .main__sub {
    width: 200px;
    height: 100%;
  }
  .main__home {
    width: 500px;
    display: flex;
    flex-direction: column;
    .home {
      height: 155px;
      border: 1px solid black;
      margin: 20px 0px 20px 0px;
      .home__writeLogo {
        height: 30px;
        border-bottom: 1px solid black;
      }
      .home__write {
        display: flex;
        align-items: center;
        height: 75px;
        .write__avatar {
          width: 40px;
          height: 40px;
        }
        .write__text {
          width: 98.6%;
        }
      }
      .home__writeContent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
      }
    }
    .home__content {
      border: 1px solid black;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .main__user {
    position: sticky;
    top: 40px;
    border-left: solid 1px black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 200px;
    height: 1250px;
    .user__lists {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100px;
    }
  }
}
.header {
  position: sticky;
  top: 0;
  background-color: $fb_blue;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .header__search {
    margin-right: 90px;
    display: flex;
    align-items: center;

    .search__home {
      margin-right: 7px;
    }
  }

  .header__users {
    display: flex;
    align-items: center;
    .users__join {
      margin-right: 10px;
    }
    .users__avatar {
      margin-right: 5px;
      .avatar__img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
