.search__filters {
  position: sticky;
  top: 40px;
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 1250px;
  .filters__options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20px;
    width: 185px;
    background-color: greenyellow;
  }
}
