extends layouts/main
block content 
    .profile
        .profile__name #{name}
        .profile__nickname #{nickname}
        .profile__email #{email}
    button.profile__btn
        a(href=routes.editProfile(user.id)) editProfile