header.header
    .header__sticky
        .sticky__home
            a(href=routes.home) HOME
        .sticky__join 
            a(href=routes.join) JOIN
        .sticky__login
            a(href=routes.login) LOGIN