.chat__users {
  position: sticky;
  top: 40px;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 1025px;
  height: 1250px;
  .users__friends {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding: 10px;
    width: 180px;
    border-left: 1px solid #cec8c8;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}
